/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

/* Container settings */
.container-fluid {
    height: 100vh;
    
}
p.signup {
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    margin-top: 33px;
    text-align: center;
}
.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.logo {
    width: 60%;
    height: auto;
    max-height: 80%;
    object-fit: contain;
}

.right {
    position: relative;flex-grow: 1; /* Expand to fill remaining height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}
.signup-link{
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
/* Login form */
.signup-form {
    height: 80vh;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1; /* Take all available space vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-form h2 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.signup-form h3 {
    margin-bottom: 50px;
}

.signup-form label {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-form input,
.signup-form select {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #F6F6F6;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
}

.custom-radio-group {
    width: 420px;
    height: 218px;
    position: relative;
    border-radius: 10px;
    border: 1px #CBCBCB solid;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.custom-radio-group .custom-option {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
    margin-bottom: 50px;
    position: relative;
}

.custom-radio-group .custom-option input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: white;
    position: relative;
    cursor: pointer;
}

.custom-radio-group .custom-option input[type="radio"]:checked {
    border: 5px solid black;
}

.custom-radio-group .custom-option input[type="radio"]:checked + label::before {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 0 0 2px white;
}

.custom-radio-group .custom-option label {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.custom-radio-group .custom-option p {
    margin: 0;
    color: #01041D;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.custom-radio-group .custom-divider {
    position: absolute;
    top: 109px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #CBCBCB;
}
.login-form {
    width: 100%;
    max-width: 400px;
    height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1; /* Take all available space vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form h2 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 32px;

}

.login-form h3 {
    margin-bottom: 50px;
}

.login-form label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #F6F6F6;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
}
/* Bottom section */
.bottom {
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
}

footer {
    text-align: start;
    font-size: 0.8rem;
    color: #888;
    padding: 0 20px;
}

footer a {
    color: #333333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.links {
    margin-top: 10px;
    text-align: start;
}

.links a {
    margin: 0 5px;
}
.submit {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.submit:hover {
    background-color: #333;
}



@media (max-width: 480px) {
    .container-fluid {
        height: auto;
        align-items: flex-center;
    }

    .left {
        order: 1;
    }

    .right {
        order: 2;
        justify-content: flex-center;
        padding: 20px;
    }

    .signup-form {
        max-width: 100%;
        margin: 0 auto;
    }
 
    .signup-form button {
        width: 100%;
    }
    .login-form button {
        border-radius: 100px;
    }

    .signup-form .options {
        flex-direction: column;
        align-items: flex-center;
    }

    .bottom {
        padding: 10px 0;
    }
}

@media (max-width: 600px) {
    .container-fluid {
        flex-direction: column;
        height: auto;
    }

    .left {
        height: 30%;
        display: none;
    }

    .right {
        padding: 10px;
        justify-content: flex-center;
    }

    .signup-form {
        padding: 10px;
    }

    .signup-form button {
        width: 100%;
        font-size: 14px;
    }

    .signup-form .options {
        flex-direction: column;
        align-items: flex-start;
    }

    .signup-form .forgot {
        margin-top: 10px;
    }

    .signup p {
       
        text-align: center;
        margin-top: 20px;
    }

    .signup a {
        color: #F55139;
        text-decoration: none;
    }
    footer {
        font-size: 0.7rem;
    }

    .bottom {
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    body {
        height: auto;
    }

    .container-fluid {
        flex-direction: column;
        height: 100vh;
    }

    .left {
        display: none;
    }

    .right {
        padding: 10px;
        justify-content: flex-start;
    }

    .signup-form {
        padding: 10px;
    }

    .signup-form input,
    .signup-form button {
        width: 100%;
        font-size: 14px;
    }

    .signup-form .options {
        flex-direction: column;
        align-items: flex-start;
    }

    .signup-form .forgot {
        margin-top: 10px;
    }

    .signup {
        font-size: 14px;
    }

    footer {
        font-size: 0.7rem;
    }

    .bottom {
        padding: 10px 0;
    }
}
.options {
    position: relative;
    padding: 20px;
}

.sub-heading{
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #01041D;
}
/* Remember Me section */
.remember-me {
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember-checkbox {
    width: 19px;
    height: 19px;
    border-radius: 3px;
    border: 1px solid #757575;
}

.remember-text {
    text-align: right;
    color: #697176;
    font-size: 14px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    line-height: 22px;
}

/* Forgot Password section */
.forgot-password {
    width: 132px;
    position: absolute;
    left: 230px;
    top: 0;
    text-align: right;
    color: #697176;
    font-size: 14px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    line-height: 22px;
}
/* Active step display */
.step {
    display: none;
}

.step.active {
    display: block;
}
a {
    color: #F55139;
}
.next {
    padding-left: 40px;
    padding-right: 40px;
}